/***************************ALL SCREENS*********************/
* {
    margin: 0;
}
html, body {
    height: 100%;
}
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -183px;
}
.footer, .push {
    height: 183px; 
}
.push {
	background-color: #EFEFEF;
}
.scroll {
	overflow-y: auto;
}
.item7 {
	padding-left: 0px;
	padding-right: 0px;
}
#General {
	display: none;
}
#Neighborhood {
	display: none;
}
#Elevation {
	display: none;
}
#Floorplan {
	display: none;
}
#Colortool {
	display: none;
}
#Siteplan {
	display: none;
}
#Colorschemes {
	display: none;
}
.flex-video {
	margin-bottom: 0px;
}
.reveal-modal {
	padding: 50px;
	min-height: 0px;
	/*top: 0px !important;*/
	position: fixed;
	max-height: 710px;
	max-width: 660px !important;
}
.modalImg {
	max-height: 598.5px;
	/*598.5px*/
}
.buttonDiv .contentDiv {
	width: 230px !important;
	height: 200px !important;
	max-width: 230px;
	max-height: 200px;
}
.infoDiv {
	padding-bottom: 20px; 
	padding-top: 20px; 
	background-color: #EFEFEF
}
.info {
	float: left; 
	padding-left: 20px; 
	padding-right: 10px; 
	font-size:2.0rem; 
	line-height:1.35;
}
.info-h3 {
	padding-left: 10px; 
	padding-right: 20px;
}
.revealImg {
	width: 100px;
	height: 100px;
	max-width: 100%;
	max-height: 100%;
	margin-bottom: 10px;
}
.tab-bar {
	background-color: #52a4da;
}
.left-small {
	border-right: none;
}
.move-right .inner-wrap {
	margin-left: -114px;
}
.left-off-canvas-menu {
	width: 150px;
	/*background-color: #52a4da;*/
}
.icon-bar {
	background-color: #52a4da;
}
.item {
	background-color: #52a4da;
	max-height: 80px;
	border: none;
	outline: none;
}
.icon-bar .item:hover{
background: #7bb9c5;
}
.sticky {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 150;
	border-top: 0;
	box-shadow: 0px 2px 3px rgba(0,0,0,0.5);
}
.stickyHeader {
	margin-top: 105px !important;
}
.topDiv {
	background-color: #214f86;
	margin: 0px;
	padding-bottom: 1px;
	width: 100%;
	height: 55px;

}
.headerH3{
	float: right;
	margin: 0px;
	padding-right: 20px;
	color: white;
	background-color: #214f86;
	height: 55px;
	padding-top: 10px;
}
.comLogo {
	padding-left: 20px;
	height: 55px;
	padding-top: 5px;
	padding-bottom: 5px;
}
.headerImg {
	margin-top: -10px;
	min-height: 427px;
	background-image: url("../images/bigneighborhood.jpg");
	background-position: center;
	text-align: center;
}
.headerImg h1 {
	padding-top: 50px;
}
.headerImg .headerButton  {
	background-color: #D50000;
	box-shadow: 1px 1px 4px rgba(0,0,0,0.5);
}
.headerImg .headerButton:hover {
	background-color: #bf0000;
}
.subheader h2{
	padding: 20px;
	color: #6f6f6f;
}
.accordionDiv {
	padding-right: 20px;
	padding-bottom: 50px;
	padding-top: 50px;
	margin-bottom: 0px;
	background-color: #EFEFEF;
}
.accordion .accordion-navigation .video_image_p{
	min-height: 200px;
	padding-left: 50px;
	padding-right: 50px;
}
.accordion .accordion-navigation .image_p{
	min-height: 150px;
	padding-left: 50px;
	padding-right: 50px;
}
.accordion .accordion-navigation .video_p{
	min-height: 100px;
	padding-left: 50px;
	padding-right: 50px;
}
.accordion .accordion-navigation ._p{
	min-height: 100px;
	padding-left: 50px;
	padding-right: 50px;
}
.accordion {
	box-shadow: 1px 1px 4px rgba(0,0,0,0.5);
}
.accordion .accordion-navigation .questionHover {
	background-color: white !important;
}
.accordion .accordion-navigation .questionHover:hover {
	background-color: #e3e3e3 !important;
}
.qContent {
	background-color: white !important;
}
.qContent p {
	line-height: 2;
	margin-bottom: 0px;
}
.outline {
	outline: 3px solid #214f86;
}
.videoButton {
	border: 3px solid #7bb9c5 !important;
	background-color: white !important;
	color: #7bb9c5 !important;
	outline: none;
	width:100px;
	max-width: 100%;
	margin-bottom: 0px;
}
.revealDiv .videoButton:hover {
	background-color: #7bb9c5 !important;
	border: 3px solid #7bb9c5 !important;
	color: white !important;
}
.submitButton .videoButton:hover {
	background-color: #7bb9c5 !important;
	color: white !important;
}
.accordion .fi-plus{
  display: inline;
  padding-right: 30px;
}
.accordion .fi-minus{
  display: none;
}
.accordion .active .fi-plus{
  display: none;
}
.accordion .active .fi-minus{
  display: inline;
  padding-right: 30px;
}
.contact {
	background-color: #52a4da;
	padding-top: 10px;
}
.contact h3 {
	padding-left: 20px;
}
.buttonDiv {
	padding-bottom: 20px;
	padding-left: 20px;
	width: 100%;
	max-width: 750px;
	display: -webkit-flex;
	display: flex;
	padding-top: 10px;
}
.buttonDiv .footerButton {
	border: 3px solid #7bb9c5 !important;
	background-color: #52a4da !important;
	color: #7bb9c5 !important;
	font-weight: bold;
	vertical-align: middle;
}
.buttonDiv .footerButton:hover {
	background-color: #7bb9c5 !important;
	box-shadow: 1px 1px 4px rgba(0,0,0,0.5);
	color: white !important;
}
.button1 {
	width: 33.333%;
}
.button2 {
	width: 33.333%;
}
.button3 {
	width: 33.333%;
}
.button1 .button {
	margin: 0px;
}
.button2 .button {
	margin: 0px;
}
.button3 .button {
	margin: 0px;
}
.submit {
	float:right;
	margin: 0px;
	width: auto;
}
.large-2 {
	width:100%;
}
.copyright {
	background-color: #214f86;
	margin: 0px;
	height: 55px;
	width: 100%;
}
.copyrightP {
	margin-bottom: 0px;
	text-align: center;
	vertical-align: middle;
	line-height: 55px;
}
.f-dropdown {
		outline: none;
	}

/**********************SMALL SCREEN*****************************/
@media screen and (max-width: 450px) {
	.reveal-modal {
		padding: 10px;
		padding-top: 20px;
		padding-bottom: 20px;
		min-height: 0px;
	}
	#myModal, #videoModal {
		position: fixed;
		max-height: 550px;
		max-width: 660px !important;
		top: 0px !important;
	}
	#formModal {
		position: absolute;
	}
	.modalImg {
		max-height: 598.5px;
		/*598.5px*/
	}
	.close-reveal-modal {
		top: 0px !important;
		right: 5px !important;
		font-size: 1.2rem !important;
	}
	.stickyHeader {
		margin-top: 0px !important;
	}
	.accordion-navigation a {
		border-top: 1px solid #ddd;
	}
	.active a {
		outline: 2px solid #558B2F;
	}
	.comLogo {
		padding-left: 10px;
	}
	.headerH3 { 
		padding-right: 10px;
	}
	.navDiv {
		display: none;
	}
	.body2 {
		display: none;
	}
	.icon-bar.six-up .item {
		height: 35px;
	}
	.subheader h2 {
		padding-left: 20px;
		padding-top: 20px;
		padding-bottom: 20px;
	}
	.accordionDiv {
		padding-top: 50px;
		padding-bottom: 50px;
		padding-right: 0px;
		margin-left: -20px;
	}
	.accordion .accordion-navigation .questionHover {
		padding-left: 20px;
	}
	.accordion .accordion-navigation .questionHover:hover {
		background-color: white !important;
	}
	.accordion .fi-plus{
  	  display: none;
	}
	.accordion .active .fi-minus{
	  display: none;
	}
	.revealDiv a {
		border: none;
	}
	.video_image_p .videoButton {
		width: 50%;
		float: right;
		max-width: 100px;
		margin-top: 30px;
	}
	.video_image_p .revealDiv {
		max-width: 350px;
		margin-left: 5%;
		margin-right: 5%;
	}
	.video_image_p .revealImg {
		width: 50%;
		max-width: 100px;
		margin-bottom: 10px;
	}
	.image_p .revealImg {
		width: 50%;
		max-width: 100px;
		float: left;
		margin-right: 20px;
		margin-bottom: 0px;
	}
	.qContent p {
		line-height: 1.5;
	}
	.video_p .videoButton {
		width: 50%;
		max-width: 100px;
		float: left;
		margin-right: 10px;
	}
	.buttonDiv {
		min-width: 100%;
		max-width: 500px;
		padding-left: 5px;
	}
	.button1 {
		float: left; 
	}
	.button2 {
		float: left;
	}
	.button3 {
		float: left;
	}
	.button1 .button {
		width: 100px;
	}
	.button2 .button {
		width: 100px;
	}
	.button3 .button {
		width: 100px;
	}
	.border {
		border-bottom: solid 1px black;
	}
	.copyrightP {
		font-size: 12px;
	}
	.accordion .accordion-navigation .video_image_p{
		padding-left: 20px;
		padding-right: 20px;
	}
	.accordion .accordion-navigation .image_p{
		padding-left: 20px;
		padding-right: 20px;
	}
	.accordion .accordion-navigation .video_p{
		padding-left: 20px;
		padding-right: 20px;	}
	.accordion .accordion-navigation ._p{
		padding-left: 20px;
		padding-right: 20px;
	}
	.revealImg:hover {
		box-shadow: 1px 1px 4px rgba(0,0,0,0.5);
	}
}

/*********************SMALL-MEDIUM SCREEN***********************/
@media screen and (min-width: 451px) and (max-width: 770px) {
	.reveal-modal {
		top: 0px !important;
	}
	.stickyHeader {
		margin-top: 0px !important;
	}
	.accordion-navigation a {
		border-top: 1px solid #ddd;
	}
	.active a {
		outline: 2px solid #558B2F;
	}
	.comLogo {
		padding-left: 10px;
	}
	.headerH3 { 
		padding-right: 10px;
	}
	.navDiv {
		display: none;
	}
	.body2 {
		display: none;
	}
	.icon-bar.six-up .item {
		height: 35px;
	}
	.subheader h2 {
		padding-left: 20px;
		padding-top: 20px;
		padding-bottom: 20px;
	}
	.accordionDiv {
		padding-top: 50px;
		padding-bottom: 50px;
		padding-right: 0px;
		margin-left: -20px;
	}
	.accordion .accordion-navigation .questionHover {
		padding-left: 20px;
	}
	.accordion .accordion-navigation .questionHover:hover {
		background-color: white !important;
	}
	.accordion .fi-plus{
  	  display: none;
	}
	.accordion .active .fi-minus{
	  display: none;
	}
	.revealImg {
		box-shadow: 1px 1px 4px rgba(0,0,0,0.5);
		margin-bottom: 0px;
	}
	.video_image_p .videoButton {
		margin-top: 10px;
	}
	.revealDiv a {
		border: none;
	}
	.qContent p {
		line-height: 1.6;
		margin-bottom: 0px;
	}
	.revealDiv {
		height: auto;
		width: 100px;
		margin-right: 20px;
		float: left;
		padding-top: 10px;
		margin-bottom: 0px;
	}
	.revealImg:hover {
		box-shadow: 1px 1px 4px rgba(0,0,0,0.5);
	}
	.button1 {
		float: left; 
	}
	.button2 {
		float: left;
	}
	.button3 {
		float:left;
	}
	.button1 .button {
		width: 100px;
	}
	.button2 .button {
		width: 100px;
	}
	.button3 .button {
		width: 100px;
	}
	.border {
		border-bottom: solid 1px black;
	}
	.copyrightP {
		font-size: 12px;
	}
}

/***************MEDIUM SCREEN*******************/
@media screen and (min-width: 771px) and (max-width: 860px) {
	.reveal-modal {
		top: 0px !important;
	}
	.accordion-navigation a {
		border-top: 1px solid #ddd;
	}
	.accordionDiv {
		padding-top: 50px;
		padding-bottom: 50px;
	}
	.accordion-navigation .questionHover a {
		border-top: 1px solid #ddd;
		padding-left: 30px;
	}
	.i {
		display: none;
	}
	.off-canvas-wrap {
	display: none;
	}
	.body1 {
		display: none;
	}
	.navDiv {
		margin: 0px;
		width: 100%;
	}
	.navDiv img {
		min-width: 40%;
	}
	.item {
		max-height: 95px;
	}
	.revealDiv {
		height: auto;
		width: 100px;
		margin-right: 20px;
		float: left;
		padding-top: 10px;
		margin-bottom: 0px;
	}
	.revealImg:hover {
		box-shadow: 1px 1px 4px rgba(0,0,0,0.5);
	}
	.contactDiv {
		width: 100%;
		height: 100%;
		padding-top: 10px;
		margin: 0px;
	}
	.navDiv label {
		font-size: 14px !important;
	}
}
/***************LARGE SCREEN*******************/
@media screen and (min-width: 861px) {
	.reveal-modal {
		top: 0px !important;
	}
	.paddingI {
		padding-top: 16px;
		padding-left: 16px;
	}
	.off-canvas-wrap {
	display: none;
	}
	.body1 {
		display: none;
	}
	.navDiv {
		margin: 0px;
		width: 100%;
	}
	.navDiv label {
		color: white;
	}
	.item {
		max-height: 95px;
	}
	.i {
		float: left;
	}
	.revealDiv {
		height: auto;
		width: 100px;
		margin-right: 20px;
		float: left;
		padding-top: 10px;
		margin-bottom: 0px;
	}
	.revealImg:hover {
		box-shadow: 1px 1px 4px rgba(0,0,0,0.5);
	}
	.buttonDiv .contentDiv {
		width: 230px;
		height: 200px;
	}
	.contactDiv {
		width: 100%;
		height: 100%;
		padding-top: 10px;
		margin: 0px;
	}
}
